﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Obilet</title>
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/dist/css/adminlte.min.css">

    <style>

        .overlay2 {
            background: #000000;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.6;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed" style="padding-left:10px; padding-right:10px;">
    <div class="overlay2" id="ajaxLoaderDiv" style="z-index:1000001;display:none; text-align:center;">

        <div class="k-loading-mask" style="width:100%;height:100%"><span style="color:white;font-size:18px;">Lütfen Bekleyiniz...</span><div class="k-loading-image"><div class="k-loading-color"></div></div></div>

    </div>
    <div class="wrapper">


        <div class="content-wrapper" style="padding-top:20px;">


            @RenderBody()

        </div>

    </div>

    <script src="/Content/plugins/jquery/jquery.min.js"></script>

    <script src="/Content/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/plugins/select2/js/select2.min.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>

