﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .index-div {
        -ms-flex-align: center;
        align-items: center;
        background-color: #e9ecef;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        /* flex-direction: column; */
        height: 100vh;
        -ms-flex-pack: center;
        justify-content: center; 
    }
</style>
<div class="hold-transition index-div" style="display:flex !important;">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Bilet Bul</h3>
        </div>


        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Nereden</label>
                @Html.DropDownList("Kalkis", (SelectList)ViewBag.Noktalar, "Seçiniz...", new
           {
               @class = "form-control select2",
               type = "text",
               required = "required",


           })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nereye</label>
                @Html.DropDownList("Varis", (SelectList)ViewBag.Noktalar, "Seçiniz...", new
           {
               @class = "form-control select2",
               type = "text",
               required = "required",


           })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Gidiş Tarihi</label>
                <input type="date" id="Tarih" name="Tarih" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control">
            </div>
        </div>

        <div class="card-footer">
            <button type="button" onclick="SeferSorgula();" class="btn btn-primary">Otobüs Bileti Bul</button>
        </div>

    </div>
    <div class="card card-primary" style="margin-left:20px;">
        <div class="card-header">
            <h3 class="card-title">PNR Sorgula</h3>
        </div>


        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputPassword1">PNR Kodu</label>
                <input type="text" id="Pnr" name="Pnr" class="form-control">
            </div>
        </div>

        <div class="card-footer">
            <button type="button" onclick="PnrSorgula();" class="btn btn-primary">Sorgula</button>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });
        // on first focus (bubbles up to document), open the menu
        $(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
            $(this).closest(".select2-container").siblings('select:enabled').select2('open');
        });

        // steal focus during close - only capture once and stop propogation
        $('select.select2').on('select2:closing', function (e) {
            $(e.target).data("select2").$selection.one('focus focusin', function (e) {
                e.stopPropagation();
            });
        });
        function SeferSorgula() {
            var kalkis = $("#Kalkis").val();
            var varis = $("#Varis").val();
            var tarih = $("#Tarih").val();
            if (kalkis == "" || varis=="" || tarih=="") {
                alert("Lütfen Kalkış ve Varış noktalarını Giriniz.");
                return;
            }
            window.location.href = "/Home/SeferList?kalkis=" + kalkis + "&varis=" + varis + "&tarih=" + tarih;
        }
        function PnrSorgula() {
            var pnr = $("#Pnr").val();
            if (pnr=="") {
                alert("Lütfen Pnr Kodu Giriniz.");
                return;
            }
            window.location.href = "/Home/PnrSorgula?pnr=" + pnr;
        }
    </script>
    }
