﻿@using Model.ViewModels
@model Model.Results.DataResult<BiletViewModel>
@{
    ViewBag.Title = "PnrSorgula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="" style="margin-top:20px; text-align:center;">
    <a class="btn btn-primary" href="@Url.Action("Index","Home")">Anasayfaya Geri Dön</a>
</div>
@if (!Model.Success)
{
    <div class="" style="margin-top:20px; text-align:center;"><h4>@Model.Message</h4></div>
}
else
{
    <div class="row" style="margin: 0 auto; padding: 0 0.5em; max-width: 73em; padding-bottom: 0.1em; cursor: default; transition: opacity .4s;">
        <div class="container" style="padding:10px; background-color:white;">
            <div class="col-md-12" style="background-color:lightslategray;display:flex;">
                <div class="col-md-4" style="display:flex; padding:5px;">
                    <h4>@Model.Data.Sefer.KalkisNoktasi - @Model.Data.Sefer.VarisNoktasi</h4>
                </div>
                <div class="col-md-4" style="display:flex; padding:5px;">
                    <h5>@Model.Data.Sefer.KalkisTarihi.ToLongDateString() @Model.Data.Sefer.KalkisTarihi.ToShortTimeString()</h5>
                </div>
                <div class="col-md-4" style="display:flex; padding:5px;">
                    <h4>PNR : </h4><h4>&nbsp; @Model.Data.Pnr</h4>
                </div>
            </div>
            <div class="col-md-12" style="display:flex; margin:10px;">
                <div class="col-md-3">
                    <div>
                        <h5 style="text-align:center;">@Model.Data.Sefer.FirmaAdi</h5>
                        <div style="text-align:center;"><bold>Koltuk Tipi : </bold>@Model.Data.Sefer.KoltukTipi</div>
                        @*<img style="width: 7em; border: 0; text-align: left; " class="logo" src="https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/partner/330-sm.png">*@
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="text-align:center;">
                        <h5>@Model.Data.Sefer.KalkisNoktasi</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    @*<div class=""> @item.YerelInternetSaat.ToString("HH:mm") </div>*@
                    <div style="text-align:center;">@Model.Data.Sefer.Sure</div>
                    <div style="text-align:center;"><h6>----------------------></h6></div>
                </div>
                <div class="col-md-2">
                    <div style="text-align:center;">
                        <h5>@Model.Data.Sefer.VarisNoktasi</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background-color:lightgray;display:flex;">
                <div class="col-md-4" style="display:flex; padding:5px;">
                    E-Posta : <b>@Model.Data.EPosta</b>
                </div>
                <div class="col-md-4" style="display:flex; padding:5px;">
                    Telefon : <b>@Model.Data.Telefon</b>
                </div>
                <div class="col-md-4" style="display:flex; padding:5px;">
                    <p style="font-size:22px;">Toplam Ucret : <b>@string.Format("{0:C}", Convert.ToDecimal(Model.Data.ToplamUcret))</b></p>
                </div>
            </div>
            <hr />
            <h4 style="text-align:center;">Yolcu Bilgileri</h4>
            <div class="col-md-12" style="margin-top:20px;">
                <table class="table">
                    <thead>
                        <tr style="background-color:slategray;">
                            <th>Yolcu Adı</th>
                            <th>Durum</th>
                            <th>Koltuk</th>
                            <th>Cinsiyet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data.YolcuList)
                        {
                            <tr>
                                <td>@item.AdSoyad</td>
                                <td>@item.Durum</td>
                                <td>@item.KoltukNo</td>
                                <td>@item.Cinsiyet</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <hr />
            <h4 style="text-align:center;">Sefer Bilgileri</h4>
            <div class="col-md-12" style="margin-top:20px;">
                <table class="table">
                    <thead>
                        <tr style="background-color:slategray;">
                            <th>Sefer Süresi</th>
                            <th>Sefer Tipi</th>
                            <th>Sefer No</th>
                            <th>Peron</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>@Model.Data.Sefer.Sure</td>
                            <td>@Model.Data.Sefer.SeferTipi</td>
                            <td>@Model.Data.Sefer.SeferNo</td>
                            <td>@Model.Data.Sefer.Peron</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
}

