﻿@using Model
@using Model.ViewModels
@model Model.Results.DataResult<List<SeferListViewModel>>
@{
    ViewBag.Title = "SeferList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@if (!Model.Success)
    {
        <div>@Model.Message</div>
    }
    else
    {
    <ul>
        @foreach (var item in Model.Data.Table)
        {

            <li>@item.FirmaAdi - @item.Vakit</li>
        }
    </ul>

    }*@
<style>
    body.flight-index #main, body.journey-index #main, body.sea-index #main {
        visibility: visible;
        background: #f2f3f4;
    }
</style>
@if (!Model.Success)
{
    <div class="" style="margin-top:20px; text-align:center;"><h4>@Model.Message</h4></div>
}
else
{


<div class="row" style="margin: 0 auto; padding: 0 0.5em; max-width: 73em; padding-bottom: 0.1em; cursor: default; transition: opacity .4s;">
    <div class="col-md-2">
        <label>Sıralama</label>
        <select onchange="Refresh();" class="form-control" name="Siralama" id="Siralama">
            @foreach (var item in ViewBag.Siralamalar as List<SelectListItem>)
            {
                <option value="@item.Value" @if (item.Selected) { <Text> selected</Text>}>@item.Text</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Firma</label>
        <select onchange="Refresh();" id="FirmaFilter" class="form-control multiple" multiple="multiple">
            @foreach (var item in ViewBag.Firmalar as List<SelectListItem>)
            {
                <option value="@item.Value" @if (item.Selected) { <Text> selected</Text>}>@item.Text</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Sefer Tipi</label>
        <select onchange="Refresh();" id="SeferTipFilter" class="form-control multiple" multiple="multiple">
            @foreach (var item in ViewBag.SeferTipleri as List<SelectListItem>)
            {
                <option value="@item.Value" @if (item.Selected) { <Text> selected</Text>}>@item.Text</option>
            }
        </select>
    </div>
    <div class="col-md-3" style="text-align:center; margin-top:20px;">
        <a class="btn btn-primary" href="@Url.Action("Index","Home")">Anasayfaya Geri Dön</a>
    </div>
</div>
    <ul style="list-style: none; margin: 0 auto; padding: 0 0.5em; max-width: 73em; padding-bottom: 0.1em; cursor: default; transition: opacity .4s; ">
        @foreach (var item in Model.Data)
        {
            <li id="journey-@item.ID" style="background-color: white; margin-top: 20px;">
                <div class="row" style="padding:10px;">
                    <div class="col-md-2">
                        <div>
                            <h5>@item.FirmaAdi</h5>
                            @*<img style="width: 7em; border: 0; text-align: left; " class="logo" src="https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/partner/330-sm.png">*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class=""> @item.YerelInternetSaat.ToString("HH:mm") </div>
                        <div class="">(@item.StrSeyahatSuresi)*</div>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align:center;">@item.OtobusKoltukYerlesimTipi</div>
                        <div style="text-align:center;">
                            <span>@item.Guzergah</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>  <span>@item.BiletFiyatiInternet TL</span> </div>

                    </div>
                    <div class="col-md-2" style="text-align:center;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail-@item.ID">
                            Detay Göster
                        </button>
                    </div>
                </div>
                <div class="modal fade" id="detail-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sefer Bilgileri</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Otobüs özellikleri</h5>
                                <ul>
                                    @foreach (var item2 in item.Ozellikler)
                                    {
                                        <li>@item2.O_Tip_Ozellik_Aciklama</li>
                                    }

                                </ul>
                                <hr />
                                <h5>@item.Guzergah</h5>
                                <div style="display:flex;">
                                    <h6>Kalkış Noktası</h6>
                                    <h6 style="margin-left:150px;">Kalkış Saati</h6>
                                </div>
                                <ul style="list-style:none; padding-left:0px;">


                                    <li>
                                        <div style="display:flex;">
                                            <div class="col-md-6">
                                                <span>@item.KalkisNokta</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span style="margin-left:30px;">@item.YerelInternetSaat.ToString("HH:mm")</span>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div style="display:flex;">
                                            <div class="col-md-6">
                                                <span>@item.VarisNokta</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span style="margin-left:30px;">-</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>

                            </div>
                        </div>
                    </div>
                </div>

            </li>
        }

    </ul>
}
@section scripts{
    <script>
        $(document).ready(function () {
            $('.multiple').select2();
        });
        function Refresh() {
            var firmaFilter = $('#FirmaFilter').val();
            var seferTipFilter = $('#SeferTipFilter').val();
            var siralama = $('#Siralama').find(":selected").val();

            $('#ajaxLoaderDiv').show();
            var params = (new URL(document.location)).searchParams;
            var kalkis = params.get("kalkis");
            var varis = params.get("varis");
            var tarih = params.get("tarih");
            window.location.href = "/Home/SeferList?kalkis=" + kalkis + "&varis=" + varis + "&tarih=" + tarih + "&firmaFilter=" + firmaFilter + "&seferTipiFilter=" + encodeURIComponent(seferTipFilter) + "&siralama=" + siralama;
        }
    </script>

}